[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "uvicorn src.main:app --reload --port 4000"
fmt_fix = "ruff format ./src/"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"] }
pymysql = "*"
pydantic = "*"
strawberry-graphql = {extras = ["fastapi"] }
asyncmy = "*"
alembic = "*"
sqlalchemy = "*"
bcrypt = "*"
ruff = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"
rich = "*"
typer = "*"
libcst = "*"

[requires]
python_version = "3.11"
